<!-- prettier-ignore -->
{%if g.theme_id == 0%}
{% extends "site_layout.html" %}
{%else%}
{% extends "layout.html" %}
{%endif%}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Change Your Password</h2>
    <hr class="my-3" />
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="alert alert-info">
        {% for category, message in messages %}
        <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Change Password Form -->
    <form method="POST" action="{{ url_for('change_password',theme_id=g.theme_id) }}" class="text-left">
        <table class="table table-bordered mx-auto" style="width: 60%">
            <thead>
                <tr>
                    <th colspan="2" class="text-center" style="background-color: #343a40; color: white">Change Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="current_password">Current Password</label></td>
                    <td><input type="password" class="form-control" name="current_password" placeholder="Please enter your current password" value="{{ current_password }}" required /></td>
                </tr>
                <tr>
                    <td><label for="new_password">New Password</label></td>
                    <td><input type="password" class="form-control" name="new_password" pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{8,20}$" placeholder="Please enter the new password: 8-20 characters with letters and numbers" value="{{ new_password }}" required /></td>
                </tr>
                <tr>
                    <td><label for="confirm_password">Confirm New Password</label></td>
                    <td><input type="password" class="form-control" name="confirm_password" pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{8,20}$" placeholder="Please re-enter the new password" value="{{ confirm_password }}" required /></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-dark">Change Password</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
