<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
            .dropdown-menu .dropdown-item.active,
            .dropdown-menu .dropdown-item:focus {
                background-color: #1c9a37 !important; 
                color: white !important;
            }
            .dropdown-menu .dropdown-item.active:hover {
                background-color: #1c9a37 !important;
                color: white !important;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </head>

    <body class="d-flex flex-column min-vh-100" style="background-color: #f8f9fa; color: #333;">  
        <nav class="navbar navbar-expand-sm navbar-dark" style="position: fixed; top: 0; width: 100%; z-index: 1000; background-color: #343a40; padding-top: 5px; padding-bottom: 5px">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home', theme_id=g.theme_id) }}">
                    <img src="{{ url_for('static', filename='img/cclogo.png') }}" alt="Logo" style="height: 40px;">
                    <span class="ms-2">ConserveConnect</span>
                    {% if g.theme_name %}
                        <span class="ms-2"> - {{ g.theme_name }}</span>
                    {% endif %}
                </a>
                <ul class="navbar-nav align-items-center ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'site_home' %}active{% endif %}" href="{{ url_for('site_home') }}">Home</a>
                    </li>
                    <!-- Competition home -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if session.active_page == 'home' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown">Competition</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% for theme in session.theme_list %}
                            <li><a class="dropdown-item {% if theme.id == g.theme_id %}active{% endif %}" href="{{ url_for('home', theme_id=theme.id) }}">{{ theme.name }}</a></li>
                            {% endfor %}                        
                        </ul>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'current_voting' %}active{% endif %}" href="{{ url_for('current_voting', theme_id=g.theme_id) }}">Open Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'competition_results' %}active{% endif %}" href="{{ url_for('competition_results', theme_id=g.theme_id) }}">Published Results</a>
                    </li>
                    {% if not session.user|default('') %}
                    <li class="nav-item">
                        <a class="nav-link {% if session.active_page == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% else %}
                        {% if session.user.role == 'siteadmin' or g.theme_role.value =="admin" or g.theme_role.value == 'scrutineer' %}
                        <!-- Management dropdown for competition setup, donation management, scrutineering, and managing voter -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if session.active_page in ['competition_setup','competitor_setup','promotion','daily_votes','list_of_votes','list_of_voters','ban_appeal_requests','approving_competition'] %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown">Management</a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if session.user.role == 'siteadmin' or g.theme_role.value =="admin" %}
                                <!-- Competition admin features -->
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'competition_setup' %}active{% endif %}" href="{{ url_for('competition_setup', theme_id=g.theme_id) }}">Competition Event Setup</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'competitor_setup' %}active{% endif %}" href="{{ url_for('list_competitors', theme_id=g.theme_id) }}">Competitor Setup</a>
                                </li>
                                <hr>
                                <li>
                                    <a class="dropdown-item  {% if session.active_page == 'promotion' %}active{% endif %}" href="{{ url_for('promotion', theme_id=g.theme_id) }}">Managing Voter</a>
                                </li>
                                <hr>                                
                                {% endif %}

                                {% if session.user.role == 'siteadmin' or g.theme_role.value =="admin" or g.theme_role.value == 'scrutineer' %}
                                <!-- Scrutineer features -->
                                <li><a class="dropdown-item {% if session.active_page == 'daily_votes' %}active{% endif %}" href="{{ url_for('daily_votes', theme_id=g.theme_id) }}">Daily Votes</a></li>
                                <li><a class="dropdown-item {% if session.active_page == 'list_of_votes' %}active{% endif %}" href="{{ url_for('unusual_votes', theme_id=g.theme_id) }}">List of Votes</a></li>
                                <li><a class="dropdown-item {% if session.active_page == 'list_of_voters' %}active{% endif %}" href="{{ url_for('list_voters', theme_id=g.theme_id) }}">List of Voters</a></li>
                                <hr>
                                <li><a class="dropdown-item {% if session.active_page == 'ban_appeal_requests' %}active{% endif %}" href="{{ url_for('view_appeals', theme_id=g.theme_id) }}">Ban Appeal Requests<span id="appeal-notification" class="badge bg-danger ms-2" style="display: none;">0</span></a></li>
                                <hr>                                
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'approving_competition' %}active{% endif %}" href="{{ url_for('approving_competition', theme_id=g.theme_id) }}">Approving Competition Event</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <img src="{{ url_for('static', filename='img/' ~ session.user.avatar) }}" alt="Avatar" class="rounded-circle" width="40" height="40" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'user_profile' %}active{% endif %}" href="{{ url_for('profile',theme_id=g.theme_id) }}">User Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'privacy_settings' %}active{% endif %}" href="{{ url_for('privacy_settings',theme_id=g.theme_id) }}">Privacy Settings</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'change_password' %}active{% endif %}" href="{{ url_for('change_password',theme_id=g.theme_id) }}">Change Password</a>
                                </li>
                                <hr />
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'my_competition_application' %}active{% endif %}" href="{{ url_for('theme_list',theme_id=g.theme_id) }}">My Competition Application</a>
                                </li>
                                <hr />
                                <li>
                                    <a class="dropdown-item {% if session.active_page == 'my_ban' %}active{% endif %}" href="{{ url_for('banned_competitions',theme_id=g.theme_id) }}">
                                        My Ban
                                        <span id="appeal-notification" class="badge bg-danger ms-2" style="display: none">0</span>
                                    </a>
                                </li>
                                <hr />
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}" onclick="confirmLogout(event)">Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <script type="text/javascript">
                            function confirmLogout(event) {
                                event.preventDefault();
                                if (confirm("Are you sure you want to log out?")) {
                                    window.location.href = event.target.href;
                                }
                            }
                        </script>
                    {% endif %}
            </ul>
        </nav>

        <div style="height: 60px"></div>

        <main class="flex-grow-1 container-fluid py-4" style="background-color: #fff; color: #333;">{% block content %}{% endblock %}</main>

        <footer class="text-white text-center py-3 d-flex align-items-center justify-content-center" style="background-color: #343a40;">
            <img src="{{ url_for('static', filename='img/grouplogo.jpg') }}" alt="Footer Image" class="img-fluid me-2" style="max-height: 30px" />
            <p class="mb-0">COMP639S2_project_2_Beta</p>
        </footer>

        {% if session.user|default('') %}
        <script>
            function updateAppealNotification() {
                // Use url_for to generate the URL dynamically
                const themeId = "{{ g.theme_id | tojson }}";
                const url = "{{ url_for('get_appeal_count', theme_id=g.theme_id) }}";
        
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            console.error(`Error: ${response.status} - ${response.statusText}`);
                            throw new Error('Failed to fetch appeal count');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const badge = document.getElementById("appeal-notification");
                        const count = data.count;
                        badge.textContent = count;
                        badge.style.display = count > 0 ? 'inline' : 'none';
                    })
                    .catch(error => console.error('Error fetching appeal count:', error));
            }
        
            // Update appeal notification when the page loads and every 30 seconds
            document.addEventListener("DOMContentLoaded", function() {
                updateAppealNotification();
                setInterval(updateAppealNotification, 30000); // Every 30 seconds
            });
        </script>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                fetchBanCount();
            });

            function fetchBanCount() {
                fetch("/voter/ban_count")
                    .then((response) => response.json())
                    .then((data) => {
                        const badge = document.getElementById("appeal-notification");
                        if (data.count > 0) {
                            badge.textContent = data.count;
                            badge.style.display = "inline-block";
                        } else {
                            badge.style.display = "none";
                        }
                    })
                    .catch((error) => console.error("Error fetching ban count:", error));
            }
        </script>
        {% endif%}
    </body>
</html>