{% extends "layout.html" %}

{% block title %}Daily Votes{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="background-color: #f8f9fa; border-radius: 8px;">
        <h2 class="text-center mb-3">Daily Votes</h2>

        {% if competition %}
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6"><strong>Current Competition:</strong> {{ competition.name }}</div>
                <div class="col-md-3"><strong>Start Date:</strong> {{ competition.voting_start_date }}</div>
                <div class="col-md-3"><strong>End Date:</strong> {{ competition.voting_end_date }}</div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered text-center mx-auto" style="max-width: 80%;">
                    <thead class="table-dark">
                        <tr>
                            <th>Date</th>
                            <th>Total Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vote in summary_votes %}
                        <tr>
                            <td>{{ vote[0] }}</td>
                            <td>{{ vote[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="px-4 pt-5 my-5 text-center">
            <p class="lead mb-4">There is no ongoing event in the current competition.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
